@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&family=Playfair+Display+SC:ital@1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@500&family=Playfair+Display+SC:ital@1&display=swap');

.slogan{
    font-family: 'Inter', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 58px;
    display: flex;
    flex-direction: column;
    gap: 30px;
    z-index: 1;
}

.slogan_title{
    color: #E4E5EA;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.slogan_title__gradient{
    font-weight: 900;
    line-height: 58px;
    background: linear-gradient(92deg, #FCB045 27.14%, #FF3F78 121.36%), #E4E5EA;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    text-fill-color: transparent;
}

.slogan_subtitle{
    font-family: 'Montserrat', serif;
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 22px;
    color: #E4E5EA;
}

@media (max-width: 1024px) {
    .slogan{
        gap: 15px;
        width: 412px;
    }

    .slogan_title{
        font-weight: 400;
        font-size: 36px;
        line-height: 44px;
    }
}